@model KatherinePorras_FINBANK.Modelo.RegistroUsuarioModelo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";


}

<div class="register-box">
    <div class="login-logo">
        <a href="#">

            <img src="~/Content/image/finbank.png" style=" width: 100px;" />
    </div>
    <div class="card">
        <div class="card-body register-card-body">

            <p class="login-box-msg">Registrar nuevo usuario</p>

            <form asp-controller="Login" asp-action="RegistroUsuario" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.CEDULA, new { htmlAttributes = new { @class = "form-control", placeholder = "Cédula" } })
                    <span class="fa fa-id-card form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.CEDULA, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombres" } })
                    <span class="fa fa-user form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.APELLIDO, new { htmlAttributes = new { @class = "form-control", placeholder = "Apellidos" } })
                    <span class="fa fa-user form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.APELLIDO, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.fechaNacimiento, new { htmlAttributes = new { @class = "form-control", placeholder = "Fecha de nacimiento" } })
                    <span class="fa fa-calendar form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.fechaNacimiento, "", new { @class = "text-danger" })
                </div> 
                <div class="form-group has-feedback">
                    <div class="form-group has-feedback">
                        @Html.EditorFor(model => model.USUARIO, new { htmlAttributes = new { @class = "form-control", placeholder = "Correo electronico" } })
                        <span class="fa fa-envelope form-control-feedback"></span>
                        @Html.ValidationMessageFor(model => model.USUARIO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="form-group has-feedback">
                        @Html.EditorFor(model => model.PassUsuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Contraseña" } })
                        <span class="fa fa-unlock-alt form-control-feedback"></span>
                        @Html.ValidationMessageFor(model => model.PassUsuario, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="form-group has-feedback">
                        @Html.EditorFor(model => model.PassUsuarionew, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirme la contraseña" } })
                        <span class="fa fa-unlock-alt form-control-feedback"></span>
                        @Html.ValidationMessageFor(model => model.PassUsuarionew, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row pull-right">
                    <!-- /.col -->
                    <div class="col-lg-12 ">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a href="@Url.Action("Index", "Login")" class="text-center">Ya estas registrado</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->